@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------- custom tailwind css classes ------------ */

body {
  @apply font-Open-Sans
}

h1,h2,h3, button, input {
  @apply font-Raleway
}

header {
  @apply font-Raleway
}

/* ------------- custom vanilla css classes ------------- */
/* notice the "_" sign to differentiate from a tailwind class */

._visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
