@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ basic fluid typography styles ----------- */

body {
  @apply font-Open-Sans fluid-text-base
}

h1,
h2,
h3,
h4,
button,
input,
header {
  @apply font-Raleway
}

h1,
h2,
h3,
h4 {
  @apply font-bold
}

h1 {
  @apply fluid-text-5xl
}

h2 {
  @apply fluid-text-4xl
}

h3 {
  @apply fluid-text-2xl
}

h4 {
  @apply fluid-text-xl
}

/* ------------- custom tailwind css classes ------------ */
/* notice the "*" sign to differentiate from a native tailwind class */

.\*bar {
  @apply rounded px-6 py-3 shadow-lg
}

.\*container {
  @apply container mx-auto p-4 sm:px-8 sm:py-12 lg:px-12
}

.\*brand-icon {
  @apply border-2 border-light-grayish-blue rounded-full p-2 fill-white transition hover:fill-bright-blue  hover:border-bright-blue hover:brightness-150
}

.\*highlight-link a {
  @apply transition hover:text-bright-blue hover:brightness-150
}

.\*spacer > * + * {
  @apply py-16
}

/* ------------- custom vanilla css classes ------------- */
/* notice the "_" sign to differentiate from a custom tailwind class */

._visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

._bg-image {
  background: url(images/bg-curve-mobile.svg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 500% 100%;
}

/* breakpoint based on tailwind lg: 1024px */
@media screen and (min-width: 1024px) {
  ._bg-image {
    background: url(images/bg-curve-desktop.svg);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 500% 100%;
  }
}

/* ------------------ custom scrollbar ------------------ */

::-webkit-scrollbar {
  width: 1.125rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(hsl(245, 85%, 80%), hsl(235, 85%, 80%));
  border-radius: 1rem;
  border: 0.25rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(hsl(245, 75%, 70%), hsl(245, 75%, 70%));
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(hsl(245, 75%, 60%), hsl(245, 75%, 60%));
}
